.menu-bar .menu-active{
        font-family: roboto-regular;
        color: blue;
        


}
@font-face {
 font-family: roboto-regular;
 src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
 font-family: Roboto-thin;
 src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

.Roboto-regular{
 font-family: roboto-regular;
}
.Roboto-thin{
 font-family: Roboto-thin;
}


html,body{
 margin: 0;
 padding: 0;
font-family: Roboto-thin;

}
